# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv/
\venv
\backend\app\controllers\cdt_dataset

*.backend/app/controllers/cdt_dataset/imagenes_procesadas_224/

backend\app\controllers\cdt_dataset
backend/__pycache__/
.backend

backend/app/controllers/cdt_dataset/imagenes_procesadas_224/
backend/app/controllers/cdt_dataset/*.csv
backend/app/services/cdt_modelo/
backend/app/services/*.pth
backend/app/services/cdt_modelo.zip