# Flask
flask==3.0.0
flask-cors==4.0.0

# Database
psycopg[binary]==3.3.3

# Authentication
PyJWT==2.8.0
bcrypt==4.1.2

# Environment
python-dotenv==1.0.0

# Development
gunicorn==21.2.0

# Analisis Voz ML
librosa
pandas
scikit-learn
imbalanced-learn
soundfile

# CDT Vision AI
torch
torchvision
opencv-python-headless
Pillow
